# 커피지수 - Part 1
### 1. 데이터로부터 4개 커피샵에 대한 정보 추출후 저장

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

- 서울 데이터에서 4개 매장정보 추출

In [2]:
data_dir = 'data/소상공인시장진흥공단_상가(상권)정보_20211231'
df = pd.read_csv(f'{data_dir}/소상공인시장진흥공단_상가(상권)정보_서울_202112.csv')
df.head(3)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,23324279,제중건강원,NaN,D,소매,D10,건강/미용식품,D10A07,건강원,G47216,...,1156010600100410002034626,NaN,서울특별시 영등포구 영중로14길 11-17,150035,7250.0,NaN,1,NaN,126.907168,37.520613
1,24525909,민속악기사,NaN,D,소매,D04,취미/오락관련소매,D04A09,악기판매,G47593,...,1120012200101420011000227,NaN,서울특별시 성동구 용답5길 2,133849,4803.0,NaN,NaN,NaN,127.049018,37.566857
2,24715368,태평양진주,NaN,D,소매,D26,시계/귀금속소매,D26A01,시계/귀금속,G47830,...,1111015200100440000000001,금사랑투빌딩,서울특별시 종로구 서순라길 17-10,110390,3138.0,NaN,NaN,NaN,126.993530,37.571848

In [3]:
# 업종중분류코드: Q12 --> 카페/커피샵
df = df[df.상권업종중분류코드 == 'Q12']
df = df[['상호명','지점명','시도명','시군구명']]
print(df.shape)
df.head()

(18628, 4)

       상호명          지점명    시도명 시군구명
23     커피빈  코리아대학로대명거리점  서울특별시  종로구
99   요거프레소          쌍문점  서울특별시  도봉구
191  우성커피숍          NaN  서울특별시  양천구
198   버블베어          NaN  서울특별시  강서구
233    알뤼르          NaN  서울특별시  강남구

In [4]:
# 스타벅스 커피샵
sb = df[df.상호명.str.contains('스타벅스|STARBUCKS', case=False)]
sb.head()

              상호명      지점명    시도명 시군구명
1544         스타벅스   동숭로아트점  서울특별시  종로구
2474  스타벅스남부터미널2점  남부터미널2점  서울특별시  서초구
2570         스타벅스    현대목동점  서울특별시  양천구
3589  스타벅스미아사거리역점  미아사거리역점  서울특별시  강북구
3608         스타벅스    가로수길점  서울특별시  강남구

In [6]:
df[df.지점명.str.contains('스타벅스|STARBUCKS', na=False, case=False)]

Empty DataFrame
Columns: [상호명, 지점명, 시도명, 시군구명]
Index: []

In [7]:
# 커피빈
cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', case=False)]
cb.head()

              상호명           지점명    시도명 시군구명
23            커피빈   코리아대학로대명거리점  서울특별시  종로구
390   커피빈코리아낙성대역점      코리아낙성대역점  서울특별시  관악구
1411          커피빈      코리아청담에스점  서울특별시  강남구
1426          커피빈  코리아강남역랭기지타워점  서울특별시  강남구
1460          커피빈      코리아청담성당점  서울특별시  강남구

In [8]:
# 이디야
ed = df[df.상호명.str.contains('이디야|EDIYA', case=False)]
ed.head()

             상호명    지점명    시도명  시군구명
1131       이디야커피   신길역점  서울특별시  영등포구
1495       이디야커피   라이프점  서울특별시  영등포구
2397  이디야커피양재AT점  양재AT점  서울특별시   서초구
2463       이디야커피    시흥점  서울특별시   금천구
4304       이디야커피  개봉중앙점  서울특별시   구로구

In [9]:
# 빽다방
bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', case=False)]
bd.head()

               상호명       지점명    시도명 시군구명
7179     빽다방공덕새창로점    공덕새창로점  서울특별시  마포구
7789      빽다방서초우성점     서초우성점  서울특별시  서초구
18660  빽다방중계은행사거리점  중계은행사거리점  서울특별시  노원구
24413     빽다방성신여대점     성신여대점  서울특별시  성북구
24973    빽다방신림역1호점    신림역1호점  서울특별시  관악구

In [10]:
df[df.상호명.str.contains('백다방')].head()

        상호명   지점명    시도명 시군구명
28276   백다방   NaN  서울특별시  서초구
61560   백다방   NaN  서울특별시  동작구
100819  백다방  명일역점  서울특별시  강동구
224597  백다방   NaN  서울특별시  강남구
250998  백다방  면목역점  서울특별시  중랑구

In [11]:
len(sb), len(cb), len(ed), len(bd)

(467, 148, 416, 142)

- 전국 데이터에서 4개 매장 정보 추출하기

In [13]:
# 빈 데이터프레임 만들기
starbucks = pd.DataFrame(columns=['상호명','시도명','시군구명'])
coffeebean = pd.DataFrame(columns=['상호명','시도명','시군구명'])
ediya = pd.DataFrame(columns=['상호명','시도명','시군구명'])
paik = pd.DataFrame(columns=['상호명','시도명','시군구명'])

In [16]:
from glob import glob
from tqdm.notebook import tqdm

for file in tqdm(glob(f'{data_dir}/*.csv')):
    df = pd.read_csv(file)
    df = df[df.상권업종중분류코드 == 'Q12']
    df = df[['상호명','시도명','시군구명']]

    sb = df[df.상호명.str.contains('스타벅스|STARBUCKS', case=False)]
    cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', case=False)]
    ed = df[df.상호명.str.contains('이디야|EDIYA', case=False)]
    bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', case=False)]

    starbucks = pd.concat([starbucks, sb])
    coffeebean = pd.concat([coffeebean, cb])
    ediya = pd.concat([ediya, ed])
    paik = pd.concat([paik, bd])

  0%|          | 0/17 [00:00<?, ?it/s]

In [17]:
starbucks.shape, coffeebean.shape, ediya.shape, paik.shape

((1504, 3), (257, 3), (2076, 3), (727, 3))

In [18]:
starbucks.to_csv('data/스타벅스.csv', index=False)
coffeebean.to_csv('data/커피빈.csv', index=False)
ediya.to_csv('data/이디야.csv', index=False)
paik.to_csv('data/빽다방.csv', index=False)